.user-input{
    width: 400px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.user-input-select{
    width:440px;
}
.emoji-picker{
    position: fixed !important;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}