.btn-container{
    display: flex;
    justify-content: center;
}
.feature-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:40px;
    margin-bottom: 50px;
}
.feature-title{
    margin-top: 30px;
}

@media screen and (max-width:500px){
    .app-title{
     font-size: 23xpx;
    }
    .tagline-highlight{
        display: block;
    }
}