body {
  margin: 0;
 padding:20px 50px;
  background-color:#FFF6F6 ;
}

.text-center{
    text-align: center;
}
.text-primary{
    color:#F875AA;
}
.text-secondary{
    color:#AEDEFC;
}
.highlight{
    background-color:#FFDFDF;
}
.text-grey{
    color:gray;
}
.text-black{
    color:black;
}
.btn{
   
    padding:10px;
    margin:20px 20px;
    min-width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary{
    color: white;
    background-color: #F875AA;

}
.btn-secondary{
    color:black;
    background-color: #AEDEFC;
}

@media screen and (max-width:500px){
   .btn{
    padding:7px;
    margin:10px;
    min-width: 100px;
   }
   .btn-container{
    background-color: white;
    width: 100%;
    position: fixed;
    bottom:0;
    left:0;
   }
   body {
    margin: 0;
   padding:5px 10px;
    background-color:#FFF6F6 ;
  }
  


}
